@page "/Login"

<div class="container" style="width: 800px">
    <div class="card border-dark mb-3" style=" margin-left: 100px; ">
        <div class="card-header text-center">
            <h3>Login</h3>
        </div>
        <div class="card-body text-center">
            <form>
                <div class="form-group">
                    <input type="text" id="login" class="fadeIn" name="login" placeholder="Usuario">

                </div>
                <div class="form-group">
                    <input type="text" class="fadeIn" name="login" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-success">
                        Iniciar Sesión
                    </button>
                </div>
                <div class="form-group">
                    <label>No tienes una cuenta? </label>
                    <a href="Registro" class="link-light">Regístrate</a>
                </div>

            </form>
            
        </div>
        <div class="card-footer">


        </div>
    </div>
</div>

    
